<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557005292072-sej3ht23gpaatukd84fso6ikdpo7h6bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557005292072-sej3ht23gpaatukd84fso6ikdpo7h6bm</string>
	<key>API_KEY</key>
	<string>AIzaSyDl_eWQYNAwFwmQr0Tvip8UDZ6UkVZzEfw</string>
	<key>GCM_SENDER_ID</key>
	<string>557005292072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SocialApp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-308006</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-308006.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557005292072:ios:2ba9aa093649ef87f06b1d</string>
</dict>
</plist>